html {
    overflow-x: hidden
}

body {
    color: white;
    overflow-x: hidden;
}

@font-face {
    font-face-name: Source Sans Pro;
    src: url("../fonts/sourcesanspro.ttf");
}

.header-main {
    background-image: url("../images/image_main.png");
    background-repeat: no-repeat;
    height: 803px;
    min-height: 803px;
}

.header-logo__brand {
    font-family: "Source Code Pro", sans-serif;
    font-weight: 900;
    font-size: 21px;
    margin-left: 12px;
}

.header-phone__number:hover {
    text-decoration: none;
    color: #ffa900;
}

.menu-list__item {
    color: #000000;
    text-decoration: none;
}

.menu-list__item:hover:not(:last-child) {
    color: #000000;
    text-decoration: none;
    background-color: #e5e5e5;
}

.header-phone__number {
    color: #ffa900;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 21px;
    font-weight: 900;
}

.news__item_img img {
    border-radius: 7px;
    width: 100%;
}

.header-phone__text {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.header-social__icon {
    margin: 0 11px;
}

.header {
    padding-top: 35px;
}

.main {
    margin-top: 90px;
}

.main-title__text {
    font-family: Source Sans Pro, sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.main-title__list li:before {
    content: '';
    height: 0.4em;
    width: 0.4em;
    background: #ffa900;
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 0;
    margin-top: 8px;
}

.catalog-equipment {
    margin-top: 40px;
}

.catalog-equipment__header {
    color: #000000;
    font-family: Source Sans Pro, sans-serif;
    font-size: 18px;
    font-weight: bolder;
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.clients, .services {
    padding: 50px 0;
}

footer {
    background-color: #585858;
}

.footer_contacts_1__text {
    margin-bottom: 20px;
}

.footer_contacts_1__text a {
    color: white;
}

.footer_contacts_1__text a:hover {
    color: white;
}

.footer-block {
    padding: 50px 0;
}

.footer_contacts_2__address {
    color: #ffffff;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    font-weight: 400;

}

.header-social {
    margin-top: 15px;
}

.footer__logo__placeholder {
    color: #ffffff;
    font-family: "Source Sans Pro", serif;
    font-weight: 400;
    font-size: 9px;
}

.footer_contacts_1 {
    color: #ffffff;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.footer_contacts_1__btn {
    border-radius: 5px;
    color: #ffffff !important;
    background-color: #ffa900;
    width: 140px;
    margin-top: 10px;
    padding: 12px 18px;
}

.about__gallery__gallery img {
    width: 100%;
}

.footer__logo__text {
    padding-left: 27px;
}

.services__item__content {
    margin-top: 10px;
    color: #000000;
    font-family: "Source Sans Pro", serif;
    font-weight: 400;
    font-size: 14px;
}

.services__item {
    margin-top: 20px;
    text-align: center;
}

.services__item__name {
    margin-top: 30px;
    color: #000000;
    font-family: "Source Sans Pro", serif;

    font-weight: 400;
    font-size: 18px;
}

.services__item__img img {
    border: 6px solid #ffa900;
    border-radius: 50%;
}

.equipment-catalog-item__name:hover {
    color: black;
}

.equipment-catalog-item__name {
    color: #000000;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-decoration: underline;
}

.clients__header, .services__header, .catalog-header, .equipment-catalog-header {
    color: #111111;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: 1.2px;

}

.services__list {
    margin-top: 20px;
}

.client__slider {
    margin-top: 20px;
    width: 100%;
}

.carousel-control-prev-icon {
    background-image: url("../images/prev.svg");
}

.carousel-control-next-icon {
    background-image: url("../images/next.svg");
}

.carousel-control-prev {
    left: -80px;
}

.carousel-control-next {
    right: -80px;
}

.equipment-quickly__text__content {
    color: #353535;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.catalog-equipment__quickly-block {
    margin-top: 55px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.catalog-equipment__quickly-block {
    border: 3px solid #ffa900;
}

.equipment-quickly__btn-block {
    /*padding-left: 45px;*/
    align-self: center;
}

.equipment-quickly__btn {
    background-color: #ffa900;
    padding: 7px 20px;
    border-radius: 5px;
    max-width: 167px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.34);
}

.equipment-quickly__btn a {
    color: #ffffff;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.equipment-quickly__text {
    padding: 0 0 0 60px;
}

.equipment-quickly__text__header {
    color: #ffa900;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 19px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.8px;
}

.news__btn {
    border-radius: 5px;
    color: #ffffff !important;
    background-color: #ffa900;
    width: 80px;
    padding: 12px 18px;
}

.news__item_main_header__name {
    font-size: 18px;
}

.news__item_header__name {
    font-size: 16px;
}

.news__item_main_header__content {
    font-size: 16px;
}

.news__item_header__content {
    font-size: 13px;
}

.news__btn-block {
    margin-top: 50px;
}

.news__item_main_header__date {
    font-size: 13px;
    font-weight: 400;
}

.news__item_header__date {
    font-size: 11px;
    font-weight: 400;
}

.news__item {
    margin-bottom: 35px;
}

.news {
    margin-top: 45px;
}

.news__item_header {
    padding-top: 20px;
}

.news__item {
    font-family: "Source Sans Pro", sans-serif;
    color: #000000;
}

.news__list {
    padding: 25px 15px 0 15px;
}

.about, .contacts_us {
    margin-top: 30px;
    padding: 40px 0 50px 0;
    background-color: #14191d;
}

.contacts_us_btn button {
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 3px;
    font-size: 14px;
    background-color: #ffa900;
}

.contacts_us_btn {
    margin: 20px 0 20px;

}

.contacts_us__header {
    margin-bottom: 25px;
    color: #ffffff;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: 1.2px;

}

.form-input {
    margin: 5px 0;
}

.form-input.has-error input {
    border: 1px solid red;
}

.form-input input {
    width: 270px;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;;
}

.about__gallery {
    padding-right: 0;
}

.about__gallery__header, .about__company__header {
    color: #ffffff;
    padding-bottom: 30px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.about__company__img {
    padding-left: 0;
    margin-right: 22px;
    margin-bottom: 5px;
}

.about__company__text {
    color: #ffffff;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 13px;
    font-weight: 400;

}

.phone-mobile-block {
    background-color: white;
    box-shadow: 0px 5px 7px 0px #80808045;
    color: black;
    padding: 20px;
}

.phone-mobile-block__number {
    color: #ffa900;
    font-family: Source Sans Pro, sans-serif;
    font-weight: 700;
    font-size: 23px;
}

.phone-mobile-block__number-text {
    color: #000000;
    font-family: Source Sans Pro, sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.news__header {
    color: #000000;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.equipment-quickly__magazine img {
    position: absolute;
    bottom: -62px;
    right: -64px;
}

.catalog-equipment__item {
    padding: 55px 75px;
    background-color: #000000;
    border-radius: 7px;
}

.catalog-equipment__item:hover {
    background-color: #ffa900;
    color: #ffffff;
}

.equipment-item__img {
    top: 0;
    left: 35px;
    z-index: 0;
    position: absolute;
}

.catalog-equipment__list {
    padding: 0 15px;
    margin-top: 32px;
}

.equipment-item__name {
    color: #ffffff;
    z-index: 9;
    position: relative;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

main {
    margin-top: -228px;
}

.menu-list__item {
    background-color: #ffffff;
    padding: 14px 8px;
    border: 0.05px solid #e5e5e5;
    font-family: Source Sans Pro, sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.menu-list__item div:hover {
    border: 7px solid #e8e8e8;
    left: 39px;
    bottom: 12px;
}

.main-img img {
    width: 100%;
}

.menu-list__item div {
    position: absolute;
    background-color: #ffa900;
    padding: 12px;
    left: 42px;
    bottom: 16px;
    border-radius: 50%;
    border: 4px solid #e8e8e8;
}

.menu-list {
    color: #000000 !important;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.equipment-images img {
    margin-bottom: 30px;
}

.equipments {
    margin-top: 60px;
}

.equipment-image a img, .equipment-images a img {
    width: 100%;
    border: 1px solid #80808047;
}

.equipment-content {
    color: #353535;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 13px;
    font-weight: 400;
}

.equipment-content_block {
    margin-top: 30px;
}

.description-name {
    color: #ffa900;
    font-family: "Source Sans Pro-Semi Bold", sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 20px;
}

.description-images__item {
    height: 100%;
}

.description-images {
    margin-bottom: 50px;
}

.description-text {
    color: #353535;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 13px;
    font-weight: 400;
}

.equipment {
    color: #000000;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.main-title__list {
    padding: 0;
    list-style: none;
    margin-top: 40px;
    font-family: Source Sans Pro, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.main-file__name {
    color: #ffffff;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-decoration: underline;
    white-space: pre-line;
}

@media (min-width: 768px) and (max-width: 991px) {
    /* Show 4th slide on md if col-md-4*/
    .carousel-inner .active.col-md-4.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%; /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    /* Show 3rd slide on sm if col-sm-6*/
    .carousel-inner .active.col-sm-6.carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -50%; /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}

@media (min-width: 576px) {
    .carousel-item {
        margin-right: 0;
    }

    /* show 2 items */
    .carousel-inner .active + .carousel-item {
        display: block;
    }

    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
        transition: none;
    }

    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }

    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    /* farthest right hidden item must be also positioned for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
    }
}

/* MD */
@media (min-width: 768px) {
    /* show 3rd of 3 item slide */
    .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }

    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
    }

    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }

    /* left or forward direction */
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    /* right or prev direction */
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
    }
}

/* LG */
@media (min-width: 991px) {


    /* show 4th item */
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
        display: block;
    }

    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }

    /* Show 5th slide on lg if col-lg-3 */
    .carousel-inner .active.col-lg-3.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%; /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* left or forward direction */
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    /* right or prev direction //t - previous slide direction last item animation fix */
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
    }
}


@media (max-width: 991px) {
    .equipment-item__name {
        font-size: 16px;
        left: -27px;
    }

    .equipment-quickly__text__header {
        font-size: 15px;
    }

    .main-img img {
        margin-top: 85px;
    }

    .equipment-quickly__text__content {
        font-size: 13px;
    }

    .equipment-quickly__text {
        padding: 0 0 0 40px;
    }
}

@media (max-width: 767px) {
    .main {
        margin-top: 40px;
    }

    .main-img img {
        margin-top: 0px;
    }

    .equipment-quickly__text__header {
        text-align: left;
        font-size: 18px;
    }

    .equipment-quickly__text {

        padding: 0 20px 0 43px;
    }

    .equipment-quickly__text__content {
        margin-top: 50px;
        font-size: 18px;
        text-align: left;
        padding: 0 50px 0 10px;
    }

    .header-main {
        background-image: url("../images/image_main.png");
        background-repeat: no-repeat;
        height: 1050px;
        width: 100%;
        background-size: cover;
    }

    main {
        margin-top: -238px;
        z-index: 99999;
        background-color: white;
    }

    .header-main {
        z-index: 0;
    }

    .main-title__text {
        font-size: 20px;
    }

    .about__company__img {
        margin-bottom: 10px;
        float: none !important;
        margin-right: 0;
    }

    .about__company__img img {
        width: 100% !important;
    }

    .footer__logo__img img {
        width: 100%;
    }

    .header-main {
        z-index: 0;
    }

    .about__company__img {
        margin-bottom: 10px;
        float: none !important;
    }

    .about__company__img img {
        width: 100% !important;
    }

    .footer__logo__img img {
        width: 100%;
        max-width: 65px;
    }

    .footer__logo__text {
        padding-left: 0;
    }
}

@media (max-width: 576px) {

    .equipment-quickly__text__header {
        text-align: left;
        font-size: 21px;
    }

    .main-title__text {
        font-size: 20px;
    }

    .equipment-quickly__magazine img {
        position: absolute;
        top: -38px;
        right: -63px;
        width: 301px;
    }

    .equipment-quickly__text {
        padding: 0 0px 0 43px;
    }

    .equipment-quickly__btn {
        margin-top: 30px;
        width: 167px;
    }

    .equipment-quickly__text__content {
        margin-top: 50px;
        font-size: 18px;
        text-align: left;
        padding: 0 50px 0 10px;
    }

    .main-title__list {
        margin-left: 20px;
    }

    .main-title__list li:before {
        left: 20px;
    }

    .footer_contacts_1, .footer_contacts_2 {
        margin-top: 20px;
    }

    .main-title__list-block {
        margin-top: -30px;
    }

    .catalog-equipment {
        margin-top: 0;
    }

    .header-main {
        background-image: url("../images/image_main.png");
        background-repeat: no-repeat;
        height: 940px;
        width: 100%;
        background-size: cover;
    }

    main {
        margin-top: -238px;
        z-index: 99999;
        background-color: white;
    }

    .header-main {
        z-index: 0;
    }

    .footer_contacts_1, .footer_contacts_2 {
        margin-top: 20px;
    }

    .about__company__img {
        margin-bottom: 10px;
        float: none !important;
    }

    .about__company__img img {
        width: 100% !important;
    }

    .footer__logo__img img {
        width: 100%;
        max-width: 65px;
    }

    .footer__logo__text {
        padding-left: 0;
    }
}