.header-main {
    background-image: url("../images/image_main.png");
    background-repeat: no-repeat;
    height: auto !important;
    min-height: auto !important;
    padding-bottom: 60px;
}

main {
    margin-top: -18px;
}

.header-main__placeholder {
    color: #ffffff;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.equipment-catalog-item__img img, .equipment-catalog-item__img img {
    width: 100%;
}

.equipment-catalog-item__img {
    width: 100px;
    margin: 0 auto;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    border: 6px solid #ffa900;
}

.catalog-item__img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    overflow: hidden;
    border: 6px solid #ffa900;
}

.catalog, .equipment-catalog {
    margin-top: 20px;
}

.catalog-item__list-block {
    color: black;
    text-align: left;
    margin-left: 10px;
}

.menu-list__item.active {
    background-color: #ffa900;
}

@media (min-width: 768px) and (max-width: 1200px) {
    .container {
        max-width: 797px;
    }
}

.catalog-item__list li a {
    color: black;
}

.about_us__header {
    color: #000000;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.nav-link {
    background-color: #ffa900;
    color: white;
    box-shadow: 2px 2px 3px 0 #80808080;;
}

.grid-item {
    max-height: 200px;
    width: auto;
}

.nav-link:hover {
    color: white;
}

.nav-pills .nav-link.active {
    color: #b7babd;
    border: 1px solid #b7babd;
    background-color: #fff;
    padding: 7px 15px;
    box-shadow: none;
}

#сomlectation div table th, #сharacteristic div table th {
    color: #ffa900;
}

.table td, .table th {
    padding: 0.35rem;
}

.color-black {
    color: #353535;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.about_us, .photo, .files, .contacts {
    margin-top: 40px;
    margin-bottom: 40px;
}

.files-content {
    color: #000000;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 17px;
    padding-right: 20px;
    font-weight: 400;
}

.btn-files:hover {
    color: white;
}

.files-img {
    text-align: center;
}

.files-item {
    box-shadow: 2px 2px 7px 0 #80808069;;
    padding: 20px 10px 30px;
}

.btn-files {
    margin-top: 15px;
    background-color: #646464;
    color: white;
}

.news__item:first-child .news__item_img img {
    width: auto;
}

.about_us__img {
    margin: 0 auto;
    max-width: 369px;
}

.about_us__content {
    margin-bottom: 20px;
    color: #353535;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 13px;
    font-weight: 400;
}

.catalog-header, .equipment-catalog-header {
    margin-bottom: 30px;
}

.catalog-item__list li a:hover {
    color: black;
}

.catalog-item__list {
    padding-left: 0;
    color: black;
    list-style: none;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    line-height: 200%;
}

.catalog-item__list-block__name:hover {
    color: black;
}

.catalog-item__list-block__name {
    color: black;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-decoration: underline;
}

.news-main {
    padding: 5px 15px 0 15px;
}

.news__item_main_header__name {
    color: #ffa900;
    margin-bottom: 20px;
}

.masonry {
    margin: 1.5em 0;
    padding: 0;
    column-gap: 1.5em;
    font-size: .85em;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
}

.item {
    display: inline-block;
    background: #fff;
    margin: 0 0 1.5em;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.item img, .item iframe {
    max-width: 100%;
    height: auto;
    display: block;
}

.item a {
    text-decoration: none;
    color: #359CC6;
    margin: 0 10px;
}

.item a:hover {
    color: #E88F00;
    border-bottom: 1px dotted #9F1D35;
}

@media screen and (max-width: 600px) {
    .news__item:first-child .news__item_img img {
        width: 100%;
    }

    .about_us__img img {
        width: 100%;
    }
}

@media only screen and (min-width: 400px) {

    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 700px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media only screen and (min-width: 900px) {
    .masonry {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

@media only screen and (min-width: 1100px) {
    .masonry {
        -moz-column-count: 5;
        -webkit-column-count: 5;
        column-count: 5;
    }
}

@media only screen and (min-width: 1280px) {
    .wrapper {
        width: 1260px;
    }
}